body {
    font-family: arial;
    text-align: center;
    margin: 0px;
}


table {
    margin: 0 auto;
}

table,
tr,
th,
td {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-collapse: collapse;
    padding: 10px;
    font-family: arial;
}

th {
    width: 150px;
}

td {
    text-align: left;
}